@import url('https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli:400,600&display=swap');

$base-borders: #888;
$base-blue: #80A1C1;
$base-grey: #D9CFC1;
$poppins-font: 'Poppins', sans-serif;
$muli-font: 'Muli', sans-serif;

html {
  scroll-behavior: smooth;
}

* {
  font-family: $muli-font;
}

.marker {
  height: 5px;
  width: 5px;
  background-color: red;
  border-radius: 3px;
}

.mapboxgl-popup-content:hover {
  transform: scale(1.2);
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.danger {
  color: red;
  border-color: red;
}

.base-color {
  color: $base-borders;
}

.small-text {
  font-size: 12px;
}

.input-text {
  margin: 0px;
  padding: 6px 10px;
}

.italic-font {
  font-style: italic;
}
.bold-font {
  font-weight: 600;
}

.search-bar {
  background-color: $base-blue;
  // height: 50vh;
  // background-image: url('https://i.ibb.co/QmDnZdS/DSC048451111112.jpg');
  background-size: cover;
}
.full-height {
  min-height: 100vh;
}
.footer {
  width: 100%;
  bottom: 0;
  background-color: $base-blue;
  margin-top: 2vh;
}
.logo:hover {
  cursor: pointer;
}
.image-tile {
  height: 200px;
}
.without-border {
  border: none;
}
.with-border-right {
  border-right: 1px solid $base-grey;
}
.without-margin {
  margin: 0;
}
.margin-width-1v {
  margin-left: 1vw;
  margin-right: 1vw;
}
.margin-height-1v {
  margin-top: 1vh;
  margin-bottom: 1vh;
}
.margin-height-10v {
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.margin-bottom-1v {
  margin-bottom: 1vh;
}
.padding-5px {
  padding: 5px;
}

// link styles
.link {
  text-decoration: none;
  color: black;
}
// calendar styles
.absolute {
  position: absolute;
  z-index: 1;
  background-color: white;
}
//flexbox
.container {
  position: relative;
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box 
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-end {
  justify-content: flex-end;
}
.space-around{
  justify-content: space-around;
  align-items: space-around;
}
.space-between{
  justify-content: space-between;
  align-items: space-between;
}
.centered {
  justify-content: center;
  align-items: center;
}
.wrap {
  flex-wrap: wrap;
}
.with-scroll {
  overflow: scroll;
}
.self-centered {
  align-self: center;
}

// card 

.card {
border: 1px solid $base-borders;
border-radius: 4px;
background: white;
}
.card:hover {
  transform:scale(1.025);
  cursor: pointer;
}

.with-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.location-suggestion:hover {
  background-color: #d3d3d3;
}
// width
.auto-wide {
  width: auto;
}
.thirty-wide {
  width: 30vw;
}
.half-screen-wide {
  width: 50vw;
}
.twenty-percent-wide {
  width: 20%;
}
.quarter-parent-wide {
   min-width: 25%;
}
.thirty-percent-wide {
  min-width: 31%;
}
.fourty-percent-wide {
  width: 40%;
}
.half-parent-wide {
  width: 50%;
}
.sixty-percent-wide {
  width: 60%;
}
.seventy-percent-wide {
  width: 70%;
}
.three-quarters-parent-wide {
  width: 75%;
}
.full-parent-wide {
  width: 100%;
}

// height

.tenth-screen-high {
  height: 10vh;
}
.quarter-screen-high {
  height: 25vh;
}
.half-screen-high {
  height: 50vh;
}
.full-parent-high {
  height: 100%
}
//backgrounds 
.with-background {
  background-color: $base-grey;
}

// cursor styles 
.cursor-pointer {
  cursor: pointer;
}

//loading spinner
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #020303;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

