
$base-borders: #808174;

.small-text {
  font-size: 12px;
}

.base-color {
  color: $base-borders;
}
.search-bar {
  background-color: blue;
  height: 50vh;
  background-image: url("https://www.smartertravel.com/uploads/2017/01/Airplane-Landing-Sunset-1400x500.jpg");
  background-size: cover;
}

// calendar styles
.absolute {
  position: absolute;
  z-index: 1;
  background-color: white;
}
//flexbox
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.flex-end {
  justify-content: flex-end;
  align-items: flex-end; 
}
.space-around{
  justify-content: space-around;
  align-items: space-around;
}
.centered {
  justify-content: center;
  align-items: center;
}

// card 

.card {
border: 1px solid $base-borders;
border-radius: 3px;
margin: 1vh 0 1vh 0;
}

.with-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

// width
.auto-wide {
  max-width: auto;
}
.thirty-wide {
  width: 30vw;
}
.half-screen-wide {
  width: 50vw;
}
.twenty-percent-wide {
  width: 20%;
}
.quarter-parent-wide {
   width: 25%;
}
.thirty-percent-wide {
  width: 30%;
}
.fourty-percent-wide {
  width: 40%;
}
.half-parent-wide {
  width: 50%;
}
.sixty-percent-wide {
  width: 60%;
}
.seventy-percent-wide {
  width: 70%;
}
.full-parent-wide {
  width: 100%;
}

// height

.ten-high {
  height: 10vh;
}
.quarter-screen-high {
  height: 25vh;
}
.half-screen-high {
  height: 50vh;
}

// cursor styles 
.cursor-pointer {
  cursor: pointer;
}

//loading spinner
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

