.marker {
  height: 5px;
  width: 5px;
  background-color: red;
  border-radius: 3px;
}

.mapboxgl-popup-content:hover {
  transform: scale(1.2);
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}